.homepage__concert
  .homepage__concert-date-container
    %span.homepage__concert-date.homepage__concert-date--day= concert.day
    %hr.homepage__concert-date-divider
    %span.homepage__concert-date.homepage__concert-date--year= concert.year
  .homepage__concert-details-container
    .homepage__concert-details
      %h2.homepage__concert-name= concert.name
      %span.homepage__concert-city= concert.location
    .homepage__concert-extras
      %span.homepage__concert-festival= concert.festival_name
      %span.homepage__concert-description= concert.details
