.homepage__concert
  .homepage__concert-date-container
    %span.homepage__concert-date.homepage__concert-date--day= concert.day
    %hr.homepage__concert-date-divider
    %span.homepage__concert-date.homepage__concert-date--year= concert.year
  .homepage__concert-details
    .homepage__concert-name-container
      %h2.homepage__concert-name= concert.name
    .homepage__concert-location-details
      .homepage__concert-location.homepage__concert-location--city
        %span.homepage__concert-city= concert.city
      .homepage__concert-location.homepage__concert-location--venue
        %span.homepage__concert-venue= concert.venue
