.homepage__picture{ style: "background-image: url('#{homepage_picture.picture.url}')" }
  .homepage__picture-social-icons-container
    = link_to 'http://instagram.com/marcelbalinski', target: '_blank' do
      .homepage__picture-social-icon.homepage__picture-social-icon--instagram
    = link_to 'https://www.facebook.com/marcel.balinski', target: '_blank' do
      .homepage__picture-social-icon.homepage__picture-social-icon--facebook
  .homepage__mobile-music-socials
    = link_to 'spotify:artist:7m6aeZvZbUT5Gt2kBZ0bNt' do
      .homepage__mobile-music-link.homepage__mobile-music-link--spotify
    = link_to 'https://soundcloud.com/user-32343881-493664261', target: '_blank' do
      .homepage__mobile-music-link.homepage__mobile-music-link--soundcloud
    = link_to 'https://www.youtube.com/watch?v=KQuEJj4XDpk', target: '_blank' do
      .homepage__mobile-music-link.homepage__mobile-music-link--youtube
