.mobile-nav
  .mobile-nav__burger-wrapper
    .mobile-nav__hamburger-menu
  .mobile-nav__language-picker
    - if current_page?(locale: :pl) || I18n.locale == :pl
      = link_to(options = { locale: "en" }) do
        %span.mobile-nav__language.mobile-nav__language--en EN
    - elsif current_page?(locale: :en)
      = link_to(options = { locale: "pl" }) do
        %span.mobile-nav__language.mobile-nav__language--pl PL
.mobile-nav__slider
  %ul.mobile-nav__menu-items
    - %w(news bio concerts projects gallery media contact).each do |page|
      %li.mobile-nav__menu-item{ class: ("active" if controller_name == page) }
        = link_to controller: page, action: "index" do
          .mobile-nav__menu-item-container
            %span= t("navigation.#{page}")
