.concerts__concert
  .concerts__concert-date-container
    .span.concerts__concert-date.concerts__concert-date--day= concert.day
    %hr.concerts__concert-date-separator
    .span.concerts__concert-date.concerts__concert-date--year= concert.year
  .concerts__concert-details-container
    .concerts__concert-details
      .concerts__concert-name-container
        %h2.concerts__concert-name= concert.name
        - if concert.link.present?
          = link_to concert.link, class: "concerts__concert-link-container concerts__concert-link-container--mobile", target: "_blank" do
            .concerts__concert-link
      .concerts__concert-location-details
        %span.concerts__concert-city
          = concert.location
    .concerts__concert-extras
      - if concert.festival_name.present?
        %span.concerts__concert-festival= concert.festival_name
      - if concert.details.present?
        %span.concerts__concert-description= concert.details
    - if concert.link.present?
      = link_to concert.link, class: "concerts__concert-link-container concerts__concert-link-container--desktop", target: "_blank" do
        .concerts__concert-link
