.projects__project-wrapper
  .projects__project-header-container.col-xs-12.col-md-6
    %h1.projects__project-header= project.name
  - if project.project_photos.any?
    .projects__project-photos-container.col-xs-12.col-md-5
      - project.project_photos.each do |photo|
        .projects__photo-container{ style: project_photo_style(photo) }
  .projects__project-container.col-xs-12{ class: (project.project_photos.any? ? "col-md-7" : "col-md-12") }
    .projects__project-header-container-desktop.hidden-xs.hidden-sm
      %h1.projects__project-header.hidden-xs.hidden-sm= project.name
    .projects__project-description-container
      - if current_page?(locale: :pl) || I18n.locale == :pl
        %p.projects__project-description= project.description
      - elsif current_page?(locale: :en)
        %p.projects__project-description= project.english_description
      = render 'project_socials', project: project
  - if project.albums.any?
    = render 'project_albums', project: project
