!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Marcel Baliński
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://kenwheeler.github.io/slick/slick/slick.js'
  %body.col-xs-12
    = render 'shared/mobile_nav'
    = render 'shared/header'
    = render 'shared/nav'
    .main-wrap.col-xs-12
      %div{ class: "#{controller_name} col-xs-12" }
        = yield
