!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Marcelbalinski
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/mobile_nav'
    = render 'shared/header'
    -# = render 'shared/nav TODO: create desktop navigation
    .main-wrap
      %div{ class: "#{controller_name}" }
        = yield
    .overlay
